{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="{{ url_for('changepassword') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="opassword" placeholder="Old password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="npassword" placeholder="New password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="vpassword" placeholder="Verify new password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change Password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
